.card {
    border-radius: 5px;
    margin-bottom: 20px;
    margin: 0 20px;
    margin-bottom: 40px;
}

.card-header {
    text-align: center;
    background-color: #414042;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 20px;
    margin-top: 40px;

}

.card-header h1 {
    color: white;
    margin: 0;
}

.card-body {
    background-color: #C5C3C2;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 20px;
}
