.big {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Assurez-vous que la barre de navigation est au-dessus du reste du contenu */
}
  
  .big h1 {
    font-size: 1.5rem; /* Taille de police légèrement plus grande pour le titre */
  }
   .big p:hover{
    cursor: pointer;
    color: lightblue; 
    
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10rem;
  }
  
  .big button {
    background-color: lightblue; /* Couleur de fond orange pour le bouton */
    color: white;
    padding: 0.5rem 1rem; /* Espacement interne pour le bouton */
    border: none;
    border-radius: 5px; /* Coins arrondis pour le bouton */
    cursor: pointer;
    font-size: 1rem; /* Taille de police légèrement plus grande pour le bouton */
    font-weight: bold; /* Texte en gras pour attirer l'attention */
    transition: background-color 0.3s ease; /* Transition fluide de la couleur de fond */
  }
  
  .big button:hover {
    background-color: lightgreen; /* Changement de couleur au survol */
  }
  a{
    color: white;
    text-decoration: none;  
  }
  a:hover{
    color: lightblue;
    transform: scale(1.2);
  }
  img{
    width: 25px;
    height: 25px;
    color: white;
  }
  