.global{

    margin: auto;
    padding: 2rem;
    display: contents;
}
.carousel .slide .legend{
    color: white;
    font-size: 0.8rem;
    opacity: 1;
}
.total{
   height: 200px;
}
.toto{
    max-width: 40%;
    height: 500px;
    margin: auto;

}
.toto img {
    max-height: 300px; /* Définir une hauteur maximale pour les images */
    width: auto;
}