#form {
    background-color: #f8f9fa; /* Couleur de fond du formulaire */
    padding: 20px;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    position: relative;
  }
  
 
  #employee-container {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  #employee-container img {
    width: 100px;
    height: auto;
    margin-right: -10px;
    border: 2px solid white;
    border-radius: 50%;
  }
  #intro h1{
    text-align: center;
    margin:50px 0 30px 0;
  }


  #message_input {
    height: 200px;
  }
