.column{
  width: 400px;
  padding: 10px;
}

.buttons-container {
    margin-bottom: 20px;
  }
  .donation-page{
    display: flex;
  }
  .active-button {
    width: 200px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid red;
    cursor: pointer;
    font-size: larger;
    position: relative; /* necessaire pour afficher la petite fleche */
  }

  #montly-donation{
    border-top-right-radius: 0px;  
    border-bottom-right-radius: 0px;  
  }
  #ponctual-donation{
    border-top-left-radius: 0px;  
    border-bottom-left-radius: 0px;  
  }

  
  .active-button::after {
    content: '';
    position: absolute;
    bottom: -25px; /* positionne la flèche verticalement */
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
   border-width: 20px 15px 0;
  border-bottom-width: 10px; 
    border-top-color: red; /* Couleur de la flèche */
  }
  
  .inactive-button {
    width: 200px;
    background-color: #C5C3C2;
    color: black;
    border-radius: 5px;
    border: 1px solid red;
    padding: 10px 20px;
    cursor: pointer;
    font-size: larger;
  }
  
  .monthly-donation-section, .one-time-donation-section {
    display: none;
  }
  
  .monthly-donation-section.show, .one-time-donation-section.show {
    display: block;
  }
  
  .price_button{
    width: 80px;
    height: 60px;
    border-radius: 10%;
    background-color: white;
    padding: 5x;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-size: larger;  
  }

  .price_button.selected {
    background-color: #ff0000; 
    color: #ffffff; 
  }
  .bottom_bar{
    display: flex;
    align-items: center;
  }
  .adjusted_price{
    width: 300px;
    height: 50px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border: none;
  }
  .special_span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
    background-color: #F1F1F1;
    width: 50px;
    height: 52px;
    border: none;
  }

  #country_input{
    background-color: white;
  }

  /* troisième colonne  */

#top_button{
  display: flex;
}

.activePayment-section, .bank-section {
  display: none;
}

.activePayment-section.show, .bank-section.show {
  display: block;
}

.activePayment-section, .cb-section {
  display: none;
}
.activePayment-section.show, .cb-section.show {
  display: block;
}

.card-area{
  display: flex;
}
.card-checkbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

input[type="checkbox"] + span:before {
  width: 12px;
  height: 12px;
  border: 1.5px solid #f0f0f0;
  content: "";
  display: inline-block;
  margin: 0 16px 0 0;
  padding: 0;
  vertical-align: top;
  border-radius: 50%;
}
input[type="checkbox"]:checked + span:before {
  background: #1460c8;
  border: 1.5px solid #1460c8;
  box-shadow: inset 0px 0px 0px 1px #fff;
  color: #333;
  content: "";
  text-align: center;
  border-radius: 50%;
}

input[type="checkbox"]:focus + span::before {
  outline: 0;
}