/* Générale */

.column{
  width: 400px;
  padding: 10px;
}

.donation-page{
  display: flex;
}

.subinfo{
  font-style: italic;
  font-size: 12px;
}
.checkboite{
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-left: 10px;
}
/* 1ère colonne  */
.buttons-container {
    margin-bottom: 20px;
  }

.active-button {
  width: 200px;
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid red;
  cursor: pointer;
  font-size: larger;
  position: relative; /* necessaire pour afficher la petite fleche */
}

  #montly-donation{
    border-top-right-radius: 0px;  
    border-bottom-right-radius: 0px;  
  }


  #ponctual-donation{
    border-top-left-radius: 0px;  
    border-bottom-left-radius: 0px;  
  }

  
  .active-button::after {
    content: '';
    position: absolute;
    bottom: -25px; /* positionne la flèche verticalement */
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
   border-width: 20px 15px 0;
  border-bottom-width: 10px; 
    border-top-color: red; /* Couleur de la flèche */
  }
  
  .inactive-button {
    width: 200px;
    background-color: #C5C3C2;
    color: black;
    border-radius: 5px;
    border: 1px solid red;
    padding: 10px 20px;
    cursor: pointer;
    font-size: larger;
  }
  
  .monthly-donation-section, .one-time-donation-section {
    display: none;
  }
  
  .monthly-donation-section.show, .one-time-donation-section.show {
    display: block;
  }
  
  .price_button{
    width: 80px;
    height: 60px;
    border-radius: 10%;
    background-color: white;
    padding: 5x;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-size: larger;  
  }

  .price_button.selected {
    background-color: #ff0000; 
    color: #ffffff; 
  }
  .bottom_bar{
    display: flex;
    align-items: center;
  }
  .adjusted_price{
    font-size: 20PX;
    width: 300px;
    height: 50px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
    border: none;
  }
  .special_span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
    background-color: #F1F1F1;
    width: 50px;
    height: 52px;
    border: none;
  }

  /* deuxieme colonne */
  .special_span_2{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 10px; 
    border-top-left-radius: 10px; 
    background-color: #F1F1F1;
    width: 50px;
    height: 52px;
    border: none;
  }

  #firstname_input{
    width: 40%;
  }
  .email_input{
    font-size: 20PX;
    width: 300px;
    height: 50px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border: none;
  }

  #société{
    display: flex;
    align-items: center;
  }
  #info-société{
    margin-left: 10px;
    font-size: 20px;
  }

  #civilites{
    height: 46px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 22px;

    font-size: 16px;
    width: 40%;
  }

  #country_input{
    background-color: white;
  }
  #cp_input{
    width: 36%;
  }
  #City{
    width: 40%;
  }

  .ReactFlagsSelect-module_flagsSelect__2pfa2 {
    padding-bottom: 0px;
}

  /* troisième colonne  */

#top_button{
  display: flex;
}

.activePayment-section, .bank-section {
  display: none;
}

.activePayment-section.show, .bank-section.show {
  display: block;
}

.activePayment-section, .cb-section {
  display: none;
}
.activePayment-section.show, .cb-section.show {
  display: block;
}

.card-area{
  display: flex;
}
.card-checkbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

